<div class="container-fluid" ng-controller="HeaderCtrl as ctrl">
    <div class="navbar-header">
        <div id="mobile-menu">
            <minimaliza-menu></minimaliza-menu>
        </div>
        <a class="navbar-brand" href="index.html">
            QUID
            <span style="float: none; display: block; margin-left:0;"> powered by QTum</span>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <minimaliza-menu></minimaliza-menu>
        <ul class="nav navbar-nav navbar-right">
		 <li class=" profil-link">
                 <a href="#">
                     <span class="profile-address">
		     	    {{ ctrl.balance }} &Xi;
		     </span>
                     <!-- <img src="images/profile.jpg" class="img-circle" alt=""> -->
                 </a>
		 </li> 
        </ul>
    </div>
</div>
